<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="../static/css/home.css">
</head>

<body>
    <div class="title">
        <img src="../static/css/images/aititle3.png">
    </div>
    <div class="solo">
        <a href="/solo"><img src="../static/css/images/sbtn.png" alt="マルチ"></a>
    </div>
    <div class="mulch">
        <a href="/index"><img src="../static/css/images/mbtn.png" alt="マルチ"></a>
    </div>

    <div class="online">
        <a href="/match"><img src="../static/css/images/roommake.png" alt="部屋を作る"></a>
        <a href="/enter"><img src="../static/css/images/roomin.png" placeholder="0~9999を入力" alt="部屋に入る"></a>
    </div>

</body>

</html>